:root {
  --primary-default: #01d167;
  --primary-strong: #ddffec;
  --primary-weak: #edfff5;
  --primary-weakest: #00d6b51a;

  --secondary-default: #0c365a;
  --secondary-strong: #325baf;
  --secondary-weak: #23cefd;
  --secondary-weakest: #009dff1a;

  --neutral-default: #ffffff;
  --neutral-inverse: #222222;

  --freezed-color: #9E9E9E;

  --font-family: 'Open Sans';
  --border-radius: 8px;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-6 {
  gap: 24px;
}

.center {
  text-align: center;
}

button {
  cursor: pointer;
}

input:focus-visible,
input:active {
  outline: none;
}

input:disabled {
  cursor: not-allowed !important;
  background-color: #cccccc !important;
  color: #888888 !important;
  opacity: 1 !important;
}

.card-name-submit:hover {
  opacity: 70%;
}
